#title {
    text-align: center;
    color: rgb(10, 223, 184);
}
#description {
    color:rgb(10, 223, 184);
    text-align: center;
}
#survey-form {
    text-align: center;
}
#main {
    background: linear-gradient(rgb(18, 18, 245), rgb(220, 220, 220));
    padding-bottom: 500px;
}
.resizedTextbox {
    width: 300px;
    padding: inherit;
    margin-top: 20px;
}
#name-label {
    color: rgb(10, 223, 184);
}
#email-label {
    color: rgb(10, 223, 184);
}
#number-label {
    color: rgb(10, 223, 184);
    padding-left: 10px;
}
#dropdown {
    margin-top: 20px;
    margin-right: 80px;
    width: 300px;
}
#dropdown-label {
    color:rgb(10, 223, 184);
}
#link1 {
    color: rgb(10, 223, 184);
}
#description-checkbox {
    color: rgb(10, 223, 184);
    font-size: 7mm;
}
#textarea {
    border: none;
    resize: none;
}
.container input:checked ~ .checkmark {
    background-color: rgb(10, 223, 184);
}
#checkbox-label {
    color: rgb(10, 223, 184);
}
#submit-label {
    color: rgb(10, 223, 184);
}
#submit {
    background: linear-gradient(left to right, silver, blue) ;
}
#radio-label {
    color: rgb(10, 223, 184);
}
#h1-background {
    color:rgb(10, 223, 184);
    font-size: 7mm;
}